@model IncidentTracking.Models.T3Group
@*
    * ================================================================================
    * MODULE:  T3Groups\Edit.cshtml
    *
    * PURPOSE:
    * This view supports editing Tier 3 groups.
    *
    * Copyright:    ©2020 by E2i, Inc.
    * Created Date: 2020-04-29
    * Author:       Brad Robbins (brobbins@e2i.net)
    *
    * --------------------------------------------------------------------------------
    * Revision History:
    * Author          Date        Description
    * Brad Robbins	  2020-04-29  Initial version
    * ================================================================================
*@
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Tier 3 Group</h2>
<p class="alert-danger">@TempData["Error"]</p>
<hr />

<form asp-action="Edit" autocomplete="off">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @{ await Html.RenderPartialAsync("AddEditPartialView"); }
    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-default" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
