@*
    * ================================================================================
    * MODULE:  Home\About.cshtml
    *
    * PURPOSE:
    * This view represents the about page.
    *
    * Copyright:    ©2018 by E2i, Inc.
    * Created Date: 2018-10-18
    * Author:       Brad Robbins (brobbins@e2i.net)
    *
    * --------------------------------------------------------------------------------
    * Revision History:
    * Author           Date        Description
    * Brad Robbins	   2018-10-30  Initial version
    * ================================================================================
*@
@{
    ViewData["Title"] = "About Incident Tracking Website";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-4">
        <p>This application provides a means for engineers and support staff to log incidents
            and related ES11 data when interventions are made.  In addition, it provides basic
            reporting of incidents and serves as a searchable record of logged incidents.</p>
          
    </div>
</div>

<h2>Contact</h2>          
<address>
    E2i, Inc.<br />
    250 South Diversatech Drive<br />
    Manteno, IL  60950<br />
    <abbr title="Phone">P:</abbr>855-589-5571
</address>

<address>
    <strong>Support:</strong> <a href="mailto:brobbins@e2i.net">brobbins@e2i.net</a><br />
</address>