@*
    * ================================================================================
    * MODULE:  Home\Contact.cshtml
    *
    * PURPOSE:
    * This view represents the contact page.
    *
    * Copyright:    ©2018 by E2i, Inc.
    * Created Date: 2018-10-18
    * Author:       Brad Robbins (brobbins@e2i.net)
    *
    * --------------------------------------------------------------------------------
    * Revision History:
    * Author           Date        Description
    * Brad Robbins	   2018-10-30  Initial version
    * ================================================================================
*@
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    E2i, Inc.<br />
    250 South Diversatech Drive<br />
    Manteno, IL  60950<br />
    <abbr title="Phone">P:</abbr>855-589-5571
</address>

<address>
    <strong>Support:</strong> <a href="mailto:brobbins@e2i.net">brobbins@e2i.net</a><br />
</address>
