@*
    * ================================================================================
    * MODULE:  Home\About.cshtml
    *
    * PURPOSE:
    * This view represents the about page.
    *
    * Copyright:    ©2019 by E2i, Inc.
    * Created Date: 2019-04-26
    * Author:       Brad Robbins (brobbins@e2i.net)
    *
    * --------------------------------------------------------------------------------
    * Revision History:
    * Author           Date        Description
    * Brad Robbins	   2019-04-26  Initial version
    * ================================================================================
*@
@{
    ViewData["Title"] = "About ES13 Web";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This application provides a means for engineers and support staff to log incidents.
    In addition, it provides basic reporting of incidents and serves as a searchable 
    record of logged incidents.
</p>

<h2>Contact</h2>
<address>
    E2i, Inc.<br />
    250 South Diversatech Drive<br />
    Manteno, IL  60950<br />
    <abbr title="Phone">P:</abbr>855-589-5571
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@e2i.net">support@e2i.net</a><br />
</address>