@*
    * ================================================================================
    * MODULE:  Home\Privacy.cshtml
    *
    * PURPOSE:
    * This view represents the privacy page and provides information about the use
    * of personal information within the site.
    *
    * Copyright:    ©2019 by E2i, Inc.
    * Created Date: 2019-04-26
    * Author:       Brad Robbins (brobbins@e2i.net)
    *
    * --------------------------------------------------------------------------------
    * Revision History:
    * Author           Date        Description
    * Brad Robbins	   2019-04-26  Initial version
    * ================================================================================
*@
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>The only personally identifiable information about individuals that is stored by 
    this application is the person's name.  This applies to engineers and 
    area contacts.  Individual names may also appear in incident descriptions, action
    summaries or handoff work descriptions.</p>
