@model IncidentTracking.Models.Classification
@*
    * ================================================================================
    * MODULE:  Classifications\Edit.cshtml
    *
    * PURPOSE:
    * This view supports editing classifications.
    *
    * Copyright:    ©2018 by E2i, Inc.
    * Created Date: 2018-11-02
    * Author:       Brad Robbins (brobbins@e2i.net)
    *
    * --------------------------------------------------------------------------------
    * Revision History:
    * Author           Date        Description
    * Brad Robbins	   2018-11-02  Initial version
    * Brad Robbins     2019-05-28  Added report label
    * ================================================================================
*@
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Classification</h2>
<p class="alert-danger">@TempData["Error"]</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClassificationId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Required classification name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportLabel" class="control-label"></label>
                <input asp-for="ReportLabel" class="form-control" placeholder="Required report label" />
                <span asp-validation-for="ReportLabel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
